<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title> BookShelf</title>
    <!-- IMPORTAÇÕES DO MATERIALIZER -->
    <!-- SITE: https://materializecss.com/getting-started.html -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
<header>
    <nav class="nav-wrapper grey darken-3">
        <div class="nav-wrapper grey darken-3">
            <a href="#" class="brand-logo" style="color: #ffca28;">Estante de Livros</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/clientLogin" class="amber lighten-1 waves-light btn" style="color: #424242;"><i class="material-icons left">add_circle_outline</i>Login/Cadastro</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/addBooks" class="amber lighten-1 waves-light btn" style="color: #424242;"><i class="material-icons left">add</i>Adicionar Livros</a></li>
            </ul>
        </div>
    </nav>
</header>
  <table class="container">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Number of pages</th>
                <th>Description</th>
            </tr>
        </thead>
    </table>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="static/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/materialize/mateialize/js/materialize.min.js"></script>
</body>
</html>